body {
    background: #242A9E;
    font-family: 'Merriweather', serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 20px 50px;
    padding: 0 20px;
    min-height: 75px;
    color: white;
    display: flex;
    
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5em;
    text-transform: capitalize;
    flex-wrap: nowrap;
    border-radius: 4px;
  }

li {
    background-image: linear-gradient(yellow, rgb(236, 236, 177));
    margin: 15px;
    padding: 5px;
}  